.photo-grid {
  display: grid;
  list-style-type: none;
  margin: 0;
  justify-content: center;
}

@media screen and (min-width: 320px) {
  .photo-grid {
    grid-template-columns: repeat(1, 1fr);
    padding: 0 16px;
    gap: 12px;
  }
}

@media screen and (min-width: 768px) {
  .photo-grid {
    grid-template-columns: repeat(2, 2fr);
    padding: 0 24px;
    gap: 16px;
  }
}

@media screen and (min-width: 1024px) {
  .photo-grid {
    grid-template-columns: repeat(3, 3fr);
    padding: 0 48px;
    gap: 14px;
  }
}

@media screen and (min-width: 1280px) {
  .photo-grid {
    grid-template-columns: repeat(4, 4fr);
    padding: 0 48px;
    gap: 16px;
  }
}