.cover {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

@media screen and (min-width: 320px) {
  .cover {
    padding: 0;
  }
}

@media screen and (min-width: 1280px) {
  .cover {
    padding: 0 48px;
  }
}