.cover__background {
  background-image: url('../../../images/trains.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  min-height: calc(100vw / 1.6);
}

@media screen and (min-width: 1280px){
  .cover__background {
    width: 1184px;
    min-height: 740px;
  }
}